<!doctype html>
<html lang="ko">
<head th:replace="~{fragment/config :: head}"></head>
<body>
<div class="wrap">
    <div th:replace="~{fragment/header :: header}"></div>
        <main class="main">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="paper">
                            <h2 class="h4">메인 비주얼 관리</h2>
                            <div class="mt-4">
                                <form action="">
                                    <table class="table table-bordered align-middle">
                                        <tbody>
                                            <tr>
                                                <th class="bg-light" style="width:18%">메인 비주얼</th>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <input class="form-control w-auto" type="file" id="visualFile1">
                                                    </div>
                                                    <p class="mb-0 mt-2">
                                                        * 권장 사이즈 : 1920x000px
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light" style="width:18%">메인 비주얼 텍스트</th>
                                                <td>
                                                    <textarea class="form-control" id="visualText1" rows="2"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light" style="width:18%">서브 비주얼 1</th>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <input class="form-control w-auto" type="file" id="visualFile2">
                                                    </div>
                                                    <p class="mb-0 mt-2">
                                                        * 권장 사이즈 : 1920x000px
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light" style="width:18%">서브 비주얼 텍스트 1</th>
                                                <td>
                                                    <textarea class="form-control" id="visualText2" rows="2"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light" style="width:18%">서브 비주얼 2</th>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <input class="form-control w-auto" type="file" id="visualFile3">
                                                    </div>
                                                    <p class="mb-0 mt-2">
                                                        * 권장 사이즈 : 1920x000px
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light" style="width:18%">서브 비주얼 텍스트 2</th>
                                                <td>
                                                    <textarea class="form-control" id="visualText3" rows="2"></textarea>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="button-container">
                                        <button type="button" onclick="saveVisual()" class="btn btn-primary">등록</button>
<!--                                        <button type="button" onclick="saveVisual()" class="btn btn-primary">수정</button>-->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script>
            // 등록 메소드로 이동하는 함수
            function saveVisual() {
                // 객체에 해당 값 추가
                object = new Object();
                object.visualFile1 = $('#visualFile1').val();
                object.visualFile2 = $('#visualFile2').val();
                object.visualFile3 = $('#visualFile3').val();
                object.visualText1 = $('#visualText1').val();
                object.visualText2 = $('#visualText2').val();
                object.visualText3 = $('#visualText3').val();

                console.log(object);

                // AJAX 통신
                // $.ajax({
                //     url: '/visual/update',
                //     type: 'POST',
                //     data: JSON.stringify(Object),
                //     dataType: 'json',
                //     success: function (data) {
                //         console.log(data);
                //     },
                //     error: function (err) {
                //         console.log(err);
                //     }
                // });
            }
        </script>
    </div>
    <script src="/js/admin.js"></script>
</body>
</html>