<!doctype html>
<html lang="ko">
<head th:replace="~{fragment/config :: head}"></head>
<body>
<div class="wrap">
    <div th:replace="~{fragment/header :: header}"></div>
        <main class="main">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="paper">
                            <h2 class="h4">브리징 - 활동내역 관리</h2>
                            <div class="mt-4">
                                <form action="">
                                    <table class="table table-bordered align-middle">
                                        <tbody>
                                            <tr>
                                                <th class="bg-light">이미지</th>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <input class="form-control w-auto" type="file" id="activityThumbnail" onchange="preview()">
                                                    </div>
                                                    <img id="previewFrame" src="" width="200" class="img-fluid mt-2" style="display:none" />
                                                    <p class="mb-0 mt-2">
                                                        * 권장 사이즈 : 000x000px
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light">제목</th>
                                                <td>
                                                    <input type="text" class="form-control" value="" id="activityTitle">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light" width="20%">내용</th>
                                                <td>
                                                    <!-- 에디터 -->
                                                    <div id="summernote"></div>
                                                    <textarea id="activityContent" style="display: none;"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light">첨부파일</th>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <input class="form-control w-auto" type="file" id="activityFile">
                                                        <div class="form-check form-check-inline mb-0 ms-2">
                                                            <input class="form-check-input" type="checkbox" id="fileDelete" value="">
                                                            <label class="form-check-label" for="fileDelete">삭제</label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light">노출여부</th>
                                                <td>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="expsr_yn" id="expsr_y" value="Y">
                                                        <label class="form-check-label" for="expsr_y">노출</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input checked class="form-check-input" type="radio" name="expsr_yn" id="expsr_n" value="N">
                                                        <label class="form-check-label" for="expsr_n">미노출</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light">정렬</th>
                                                <td>
                                                    <div class="d-flex">
                                                        <input class="form-control" type="number" id="activitySortNo" value="" style="width:100px">
                                                        <p class="mb-0 mt-2 ms-3">* 숫자가 낮을수록 상위 노출됩니다.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="button-container">
                                        <button type="button" class="btn btn-primary" onclick="saveActivity()">등록</button>
                                        <a href="/bridging/activity/list" class="btn btn-outline-primary">목록</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script>
        // 이미지 미리보기
        function preview() {
            previewFrame.src = URL.createObjectURL(event.target.files[0]);
            document.querySelector('#previewFrame').style.display = "block";
        }

        // 등록 메소드로 이동하는 함수
        function saveIntroduce() {
            // 객체에 해당 값 추가
            object = new Object();
            object.activityThumbnail = $('#activityThumbnail').val();
            object.activityTitle = $('#activityTitle').val();

            // 썸머노트 값 textarea에 추가
            var summernote_value = $("#summernote").summernote('code');
            $("#activityContent").val(summernote_value);

            object.activityContent = $('#activityContent').val();

            object.activityFile = $('#activityFile').val();
            object.fileDelete = $('#fileDelete').val();
            object.expsr_yn = $('input[name=expsr_yn]').val();

            if($('#activitySortNo').val() == null) {
                $('#activitySortNo').val(1);
            }

            object.activitySortNo = $('#activitySortNo').val();

            console.log(object);

            // AJAX 통신
            // $.ajax({
            //     url: '/bridging/activity/insert',
            //     type: 'POST',
            //     data: JSON.stringify(Object),
            //     dataType: 'json',
            //     success: function (data) {
            //         console.log(data);
            //     },
            //     error: function (err) {
            //         console.log(err);
            //     }
            // });
        }
    </script>
    <script src="../assets/js/admin.js"></script>
    
</body>
</html>