<!doctype html>
<html lang="ko">
<head th:replace="~{fragment/config :: head}"></head>
<body>
<div class="wrap">
    <div th:replace="~{fragment/header :: header}"></div>
        <main class="main">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="paper">
                            <h2 class="h4">자주하는 질문 관리</h2>
                            <div class="mt-4">
                                <form action="">
                                    <table class="table table-bordered align-middle">
                                        <tbody>
                                            <tr>
                                                <th class="bg-light" width="20%">1차 카테고리</th>
                                                <td>
                                                    <input type="text" class="form-control" value="" id="faqCategory">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="button-container">
                                        <button type="button" class="btn btn-primary" onclick="saveFaq()">수정</button>
                                        <a href="/faq/first/list" class="btn btn-outline-dark">목록</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script>
            function saveFaq() {
                // 객체에 해당 값 추가
                object = new Object();
                object.faqCategory = $('#faqCategory').val();

                console.log(object);

                // AJAX 통신
                // $.ajax({
                //     url: '/faq/first/update',
                //     type: 'POST',
                //     data: JSON.stringify(Object),
                //     dataType: 'json',
                //     success: function (data) {
                //         console.log(data);
                //     },
                //     error: function (err) {
                //         console.log(err);
                //     }
                // });
            }
        </script>
    </div>
    <script src="/js/admin.js"></script>
</body>
</html>